body {
    background-color: #f7f7f7;
    background-image: url(../assets/resource-database-rkQdROHIwFk-unsplash.jpg);
    background-repeat: no-repeat;    
}

.header{
    padding: 5px;
    background-color:#22282b;
    color:#f7f7f7;
    text-align: center;
    font-size: 2vw;
}

p {
    font-family: "Roboto", sans-serif;
}

.boxContainer{
    position: relative;
    background-color:#f7f7f7;
    padding: 10px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 8%;
    border: 1px solid;
    border-radius: 100px;
}