body {
    background-color: #f7f7f7;
    background-image: url(../assets/resource-database-rkQdROHIwFk-unsplash.jpg);
    background-repeat: no-repeat;    
}

.header{
    padding: .4px;
    /* background-color:#22282b; */
    background-color: white;
    color:#f7f7f7;
    text-align: center;
    font-size: ".4rem";
    color: #d9534f;
    text-align: left;
}

.headerText{
    font-size: 1rem;
    margin-left: 2%;
    margin-top: .5%;
}

p {
    font-family: "Roboto", sans-serif;
}

.boxContainer{
    position: relative;
    background-color:#f7f7f7;
    padding: 10px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 8%;
    border: 1px solid;
    border-radius: 100px;
}